/* Estilos generales */
body {
    background-image: url('../images/Fondo-product-detail.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilo para el logo */
.logo-image {
    max-width: 120px;
    width: 100%; 
    height: auto;
}

/* Ajuste en la sección de detalles del producto */
.product-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0; 
}

/* Imagen del producto */
.product-detail img {
    max-width: 50%; 
    height: auto;
    object-fit: contain;
    object-position: center;
    border-radius: 15px;
}

/* Contenedor para el contenido del producto */
.product-info {
    max-width: 50%;
    text-align: left;
}

/* Estilos para los textos */
.product-info .card-title {
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    font-weight: bold;
    color: #4B2E39;
    margin-bottom: 5px;
}

.product-info .card-text {
    font-family: 'Pacifico', cursive;
    font-size: 1.8rem;
    color: #8ec1fc;
    margin-bottom: 10px;
}

/* Estilos para el botón de compra */
.product-info .btn-catalog {
    background-color: #c0dcfc;
    color: #4B2E39;
    border-radius: 25px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Pacifico', cursive;
    margin: 20px auto 0 auto;
    display: block;
}

/* Hover del botón */
.product-info .btn-catalog:hover {
    background-color: #4B2E39;
    color: #FFE0E0;
}

/* Adaptación para pantallas pequeñas */
@media (max-width: 768px) {

    .product-detail {
        flex-direction: column;
    }

    .product-detail img,
    .product-info {
        max-width: 100%;
    }

    .product-info .card-title {
        font-size: 2rem;
    }

    .product-info .card-text {
        font-size: 1.5rem;
    }

    .product-info .btn-catalog {
        font-size: 1.2rem;
    }
}
